ALERTMANAGER_OPTS='--config.file={{ openio_alertmanager_config_dir }}/alertmanager.yml --storage.path={{ openio_alertmanager_storage_path }} --web.listen-address={{ openio_alertmanager_bind_address }}:{{ openio_alertmanager_bind_port }}'
